.fav{
    margin-right: 20px;
}

.btn-details{
    background-color: #919c92;
    color: #fff;
}
.row{
    width: 100%;
}
.card-img-top {
    height: 200px; 
    object-fit: cover; 
  }

.btn-details:hover{
    background-color: #787c78;
}

.head{
    margin-top: 70px;
}

.draggable-icon{
    color: black;
    background-color: white;
    border-radius: 5px;
    top:10px;
    margin-left: 10px;
}