.footer {
  background-color: #343a40;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 60px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer .col-md-4 {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.footer p {
  font-size: 14px;
  color: #fff;
}

.footer .social-links {
  display: flex;
  gap: 10px;
}

.footer .social-links a {
  color: #fff;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: #007bff;
}

.footer .text-center {
  text-align: center;
}

.footer-logo {
  width: 100px; 
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .footer-container .container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container .col-md-4 {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-container .social-links {
    justify-content: center;
  }
}