/* Import a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.navbar-custom {
  background-color: #343a40; /* Dark background color */
  font-family: 'Roboto', sans-serif; /* Use the imported font */
  padding: 10px 0;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.navbar-custom .navbar-brand img {
  height: 40px; /* Adjust the logo size */
  margin-right: 10px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  transition: color 0.3s;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #f8f9fa; /* Lighter color on hover */
}

.navbar-custom .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}



@media (max-width: 768px) {
  .navbar-custom .navbar-nav {
    text-align: center;
  }

  .navbar-custom .navbar-nav .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}