.search-container {
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.search-content {
    flex-shrink: 0;
}

.favorites-container {
    width: 200px;
    margin-left: 20px;
}

.property-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-overlay {
    width: 100%; 
    padding: 100px;
    margin: 100px auto;
    background-image: url('../../../public/images/bg5.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 20px;
    transition: width 0.3s ease;
}

.search-container.favorites-expanded .search-overlay {
    width: 70%; /* Adjust width when favorites sidebar is expanded */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.favorites-icon {
    border: 1px solid #646e65;
    cursor: pointer;
    position: fixed;
    top: 20px; 
    right: 18px; 
    z-index: 1000; 
}

.favorites-icon:hover {
    background-color: #646e65;
    border: 1px solid #646e65;
}

.favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #646e65;
}

.close-btn:hover {
    color: #787c78;
}

.favorites-sidebar {
    position: fixed;
    right: 20px;
    top: 80px;
    bottom: 0;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px); 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border: #646e65;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    height: 500px;
}

/* Form styling */
.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.btn-search {
    background-color: #646e65;
    border: 1px white solid; 
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 40px;
    color: white;
}

.btn-search:hover {
    background-color: #787c78;
}

@media (max-width: 768px) {
    .search-container {
        padding: 20px;
    }
    
    .search-overlay {
        width: 100%; /* Full width for smaller screens */
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem; /* Smaller font size for mobile */
    }

    .favorites-sidebar {
        width: 50%; /* Adjust width for tablets */
        right: 10px;
        top: 60px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .favorites-sidebar {
        width: 80%; /* Adjust width for mobile */
        right: 10px;
        top: 60px;
        height: auto;
    }

    .favorites-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .close-btn {
        align-self: flex-end;
    }
}